



<header>
    <p>HABITZ</p>
</header>


<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    header p {
        font-weight: bold; 
        font-family: TS; 
        color: #A78BFA; 
        font-size: 80px;
    }
    body {
        background: #0f001a;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 1000px;
        text-align: center;
        padding: 0 20px;
        font-family: sf-pro-regular;
    }

    h1 {
        font-size: 300px;
        background: radial-gradient(ellipse at center, #ffccf2 20%, #977dff 40%, #ffa2b6 100%);
        background-size: 200% auto;
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        animation: shimmer 3s infinite linear;
        font-family: sf-pro-black;
    }

    @keyframes shimmer {
        0% { background-position: 0% center; }
        100% { background-position: 200% center; }
    }

    p {
        font-size: 24px;
        margin-top: 10px;
        color: #aaa;
    }

    a.button {
        display: inline-block;
        margin-top: 30px;
        padding: 12px 28px;
        background: linear-gradient(270deg, #8f5eff, #ff3cac, #2c1f54, #8f5eff);
        background-size: 300% 300%;
        color: #ffffff;
        text-decoration: none;
        font-weight: bold;
        border-radius: 10px;
        transition: 0.3s ease;
        animation: gradientFlow 5s ease infinite;
        box-shadow: 0 0 12px rgba(143, 94, 255, 0.6);
    }

    a.button:hover {
        filter: brightness(1.2);
    }

    @keyframes gradientFlow {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

    @media (max-width: 800px) {
        header p {
            font-size: 40px;
        }
        h1 {
            font-size: 80px;
        }
        p {
            font-size: 16px;
        }
    }
</style>

    <h1>404</h1>
    <p>Страница не найдена</p>
    <a href="/" class="button">Вернуться на главную</a>
