


  <header>
    <div style="font-size: 30px; font-weight: bold; font-family: TS; color: #A78BFA;">HABIT<span style="font-size: 36px; font-family: TS;">Z</span></div>
    <nav>
      <a href="#">Услуги и цены</a>
      <a href="#">Контакты</a>
      <a href="order" class="btn-black">Оставить заявку на ремонт</a>
    </nav>
  </header>

  <section class="hero">
    <h1>Быстрый ремонт устройств Apple</h1>
    <p>от 500 ₽ · от 20 минут · бесплатная диагностика</p>
    <a href="#" class="btn-black" onclick="document.getElementById('services').scrollIntoView({ behavior: 'smooth'})">Посмотреть услуги</a>
  </section>

  <section class="grid">
    <div class="card">
      <h3>Бесплатная диагностика</h3>
      <p>Определим проблему до начала работ.</p>
    </div>
    <div class="card">
      <h3>Цены от 500 ₽</h3>
      <p>Прозрачные и честные цены без скрытых платежей.</p>
    </div>
    <div class="card">
      <h3>От 20 минут</h3>
      <p>Срочный ремонт при вас в течение часа.</p>
    </div>
  </section>  

  <section class="info-company">
    <div class="infotext">
      <h1 style="text-align: center;"><span style="font-family: TS;">HABITZ</span> — <span style="color: #A78BFA;">крупнейшая сервисная сеть</span> по ремонту устройств Apple в России</h1>
    </div>
    <div class="info-service">
      <div class="info1">
        <p style="font-size: 32px; color: #A78BFA; font-family: sf-pro-bold">677</p>
        <p>Сервисных центров</p>
      </div>
      <div class="info2">
        <p style="font-size: 32px; color: #A78BFA; font-family: sf-pro-bold">2 МЛН</p>
        <p>Ремонтов в год</p>
      </div>
      <div class="info3">
        <p style="font-size: 32px; color: #A78BFA; font-family: sf-pro-bold">90 дней</p>
        <p>Официальная гарантия</p>
      </div>
      <div class="info4">
        <p style="font-size: 32px; color: #A78BFA; font-family: sf-pro-bold">4 года</p>
        <p>Средний опыт инженера  </p>
      </div>
    </div>
  </section>

  <section class="info-company">
    <div class="infotext">
      <h1 style="text-align: center;">Статистика работы сервис-центра Apple за год</h1>
    </div>
    <div class="info-service">
      <div class="info1">
        <p style="font-size: 32px; color: #A78BFA; font-family: sf-pro-bold">12 404 шт</p>
        <p style="font-size: 20px">Комплектующих на складе в повседневном доступе</p>
      </div>
      <div class="info2">
        <p style="font-size: 32px; color: #A78BFA; font-family: sf-pro-bold">91 год</p>
        <p style="font-size: 20px">Суммарного опыта ремонта наших специалистов</p>
      </div>
      <div class="info3">
        <p style="font-size: 32px; color: #A78BFA; font-family: sf-pro-bold">35 мин</p>
        <p style="font-size: 20px">Среднее время ремонтных работ по сумме обращений</p>
      </div>
      <div class="info4">
        <p style="font-size: 32px; color: #A78BFA; font-family: sf-pro-bold">5%</p>
        <p style="font-size: 20px">Возвратов на гарантийный ремонт</p>
      </div>
    </div>
  </section>

  <section class="quest">

  </section>

  <p style="text-align: center; font-size: 44px;" id="services">Сколько стоит ремонт устройств Apple в г.<span style="color: #A78BFA; cursor: pointer; font-family: sf-pro-bold;"> Екатеринбург</span>?</p>
  <div class="table-service">
    <table>
      <thead>
        <tr>
          <th>Услуга</th>
          <th>Цена</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Диагностика</td>
          <td>Беслпатно</td>
        </tr>
        <tr>
          <td>Замена аккумулятора</td>
          <td>от 590 ₽</td>
        </tr>
        <tr>
          <td>Замена экрана</td>
          <td>от 890 ₽</td>
        </tr>
        <tr>
          <td>Замена стекла</td>
          <td>от 690 ₽</td>
        </tr>
        <tr>
          <td>Защита гидрогелевой пленкой</td>
          <td>от 1 290 ₽</td>
        </tr>
        <tr>
          <td>Замена задней крышки</td>
          <td>от 590 ₽</td>
        </tr>
        <tr>
          <td>Чистка динамика, микрофонов от пыли</td>
          <td>от 590 ₽</td>
        </tr>
        <tr>
          <td>Замена корпуса</td>
          <td>от 590 ₽</td>
        </tr>
        <tr>
          <td>Замена разъема зарядки</td>
          <td>от 490 ₽</td>
        </tr>
        <tr>
          <td>Замена динамика</td>
          <td>от 490 ₽</td>
        </tr>
        <tr>
          <td>Замена микрофона</td>
          <td>от 490 ₽</td>
        </tr>
        <tr>
          <td>Замена задней камеры</td>
          <td>от 590 ₽</td>
        </tr>
        <tr>
          <td>Восстановление после попадания влаги</td>
          <td>от 1 190 ₽</td>
        </tr>
        <tr>
          <td>Замена стекла камеры</td>
          <td>от 490 ₽</td>
        </tr>
        <tr>
          <td>Обновление ПО</td>
          <td>от 290 ₽</td>
        </tr>
        <tr>
          <td>Перенос данных</td>
          <td>от 890 ₽</td>
        </tr>
        <tr>
          <td>Активация и настройка Apple ID</td>
          <td>от 690 ₽</td>
        </tr>
        <tr>
          <td>Замена передней камеры</td>
          <td>от 490 ₽</td>
        </tr>
        <tr>
          <td>Замена кнопок громкости / включения / вибро</td>
          <td>от 490 ₽</td>
        </tr>
        <tr>
          <td>Замена антенны</td>
          <td>от 490 ₽</td>
        </tr>
        <tr>
          <td>Замена датчика приближения</td>
          <td>от 490 ₽</td>
        </tr>
        <tr>
          <td>Замена вибромотора</td>
          <td>от 490 ₽ </td>
        </tr>
        <tr>
          <td>Программный ремонт</td>
          <td>от 890 ₽</td>
        </tr>
        <tr>
          <td>Замена NFC</td>
          <td>от 1 290 ₽</td>
        </tr>
        <tr>
          <td>Сброс пароля</td>
          <td>от 890 ₽</td>
        </tr>
        <tr>
          <td>Ремонт FACE ID</td>
          <td>Цена по запросу</td>
        </tr>
        <tr>
          <td>Замена Wi-Fi модуля</td>
          <td>Цена по запросу</td>
        </tr>
        <tr>
          <td>Ремонт Wi-Fi модуля</td>
          <td>Цена по запросу</td>
        </tr>
        <tr>
          <td>Замена контроллера питания</td>
          <td>Цена по запросу</td>
        </tr>
        <tr>
          <td>Ремонт материнской платы</td>
          <td>Цена по запросу</td>
        </tr>
      </tbody>
    </table>
  </div>

  <footer>
    <a href="err">Перейти к тесту ошибки</a>
    © 2025 HABITZ. Все права защищены.
  </footer>
