<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="styles/style.css">
  <link rel="stylesheet" href="styles/font.css">
  <title>HABITZ — Ремонт Apple</title>
</head>
<body>
  <header>
    <div style="font-size: 24px; font-weight: bold; font-family: TS; color: #A78BFA;">HABITZ</div>
    <nav>
      <a href="#">Услуги и Цены</a>
      <a href="#">Контакты</a>
      <a href="order.html"<button class="btn-black">Оставить заявку на ремонт</button></a>
    </nav>
  </header>

  <section class="hero">
    <h1>Быстрый ремонт устройств Apple</h1>
    <p>от 500 ₽ · от 20 минут · бесплатная диагностика</p>
    <button class="btn-black">Посмотреть услуги</button>
  </section>

  <section class="grid">
    <div class="card">
      <h3>Бесплатная диагностика</h3>
      <p>Определим проблему до начала работ.</p>
    </div>
    <div class="card">
      <h3>Цены от 500 ₽</h3>
      <p>Прозрачные и честные цены без скрытых платежей.</p>
    </div>
    <div class="card">
      <h3>От 20 минут</h3>
      <p>Срочный ремонт при вас в течение часа.</p>
    </div>
  </section>

  <footer>
    © 2025 HABITZ. Все права защищены.
  </footer>
</body>
</html>