



    <main class="form-page-wrapper">
        <div class="form-page-container">
        <h1 class="form-page-title">Оставить заявку</h1>

        <form id="orderForm" action="order" method="POST">
            <label class="form-page-label" for="name">Имя</label>
            <input class="form-page-input" type="text" id="name" name="name" placeholder="Иван" required>

            <label class="form-page-label" for="device">Устройство</label>

            <select class="form-page-select" id="device" name="device" required>
            <option disabled selected>Выберите устройство</option>
            <option>iPhone</option>
            <option>iPad</option>
            <option>MacBook</option>
            <option>Другое</option>
            </select>

            <label class="form-page-label" for="model">Модель</label>
            <textarea class="form-page-select" id="model-device" name="model-device" placeholder="Например: iPhone 14 Pro" rows="1"></textarea>

            <label class="form-page-label" for="phone">Телефон</label>
            <input class="form-page-input" type="tel" id="phone" name="phone" placeholder="+7 (___) ___-__-__" required>

            <label class="form-page-label" for="problem">Описание проблемы</label>
            <textarea class="form-page-textarea" id="problem" name="problem" placeholder="Что случилось?" rows="4" required></textarea>

            <label class="form-page-label" for="email">Email (необязательно)</label>
            <input class="form-page-input" type="email" id="email" name="email" placeholder="example@mail.com">

            <button class="btn-black" type="submit">🚀 Отправить заявку</button>
        </form>

        <a class="form-page-back" href="/">← Вернуться на главную</a>
        </div>
   
    </main>




